<div>
    <h3>Provale Internet - Guaratinguetá - SP</h3>
    <ul>
        <li>Cargo: Atendimento HelpDesk</li>
        <li>
            Atividades desenvolvidas: Atendimento ao cliente e técnico, configuração de 
            equipamentos de rádio cliente, repetidoras e cliente PTP, configuração de ONU
            para clientes FIBRA, manutenção interna com hardware e redes, formatação e
            instalação do Sistema Operacional, configuração básica de MIKROTIK.
        </li>
        <li>Período: 03/2013 - 02/2019</li>
    </ul>
</div>
<div>
    <h3>Planeta Educação - Lorena - SP</h3>
    <ul>
        <li>Cargo: Mediador de Informática</li>
        <li>
            Atividades desenvolvidas: Auxiliava professores em como passar aos alunos
            algumas informações de matérias como matemática ou português, junto com
            informática. Também passava digitação e experiência com o BROFFICE,
            LinkScape e GIMP, entre outras aplicações do Linux Educacional.
        </li>
        <li>Período: 02/2011 - 12/2012</li>
    </ul>
</div>
<div>
    <h3>Info 2000 - Lorena - SP</h3>
    <ul>
        <li>Cargo: Técnico em Manutenção de Computadores</li>
        <li>
            Atividades desenvolvidas: Manutenção em computadores, hardware e
            software. Troca de periféricos, limpeza de computadores, formatação e
            instalação de sistemas, instalação de impressoras.
        </li>
        <li>Período: 06/2010 - 02/2011</li>
    </ul>
</div>
<div>
    <h3>Virtual Bytes - Lorena - SP</h3>
    <ul>
        <li>Cargo: Técnico em Manutenção de Computadores</li>
        <li></li>
            Atividades desenvolvidas: Manutenção em computadores, hardware e
            software. Troca de periféricos, limpeza de computadores (Autorizada Semp
            Toshiba, Kellow e Intelbras), formatação e instalação de sistemas,
            infraestrutura de rede, instalação de impressoras, visita ao cliente para
            diagnóstico inicial e manutenção no local.
        <li>Período: 01/2007 - 02/2009</li>
    </ul>
</div>
