<%- include('header') %>

<h2>Cursos Extracurrículares</h2>
<div>
    <h3>Inglês</h3>
    <ul>
        <li>Intermediário (em andamento)</li>
    </ul>
</div>
<div>
    <h3>ITIL</h3>
    <ul>
        <li>(em andamento)</li>
    </ul>
</div>
<div>
    <h3>MIKROTIK</h3>
    <ul>
        <li>(em andamento) MTCNA, MTCRE e MTCINE</li>
    </ul>
</div>
<div>
    <h3>Desenvolvimento FULLSTACK MASTER [ DEV PLENO ]</h3>
    <ul>
        <li>(em andamento) HTML, Javascript, CSS, NodeJS, MySQL</li>
    </ul>
</div>
<div>
    <h3>Desenvolvimento FULLSTACK</h3>
    <ul>
        <li>(após o primeiro curso) Spring e Angular</li>
    </ul>
</div>

<%- include('footer') %>
