<div>
    <h3>Pós-Graduação em Desenvolvimento WEB e Mobile</h3>
    <ul>
        <li>UNISAL - Centro Universitário Salesiano de São Paulo - U E Lorena</li>
        <li>Concluído em 2017</li>
    </ul>
</div>
<div>
    <h3>Bacharel em Ciência da Computação</h3>
    <ul>
        <li>UNISAL - Centro Universitário Salesiano de São Paulo - U E Lorena</li>
        <li>Concluído em 2014</li>
    </ul>
</div>
<div>
    <h3>Técnico em Informática</h3>
    <ul>
        <li>SENAC São Paulo - Guaratinguetá</li>
        <li>Lógica, Programação, Web, Windows, Linux e Hardware e Software</li>
        <li>Concluído em 2008</li>
    </ul>
</div>
<div>
    <h3>Hardware</h3>
    <ul>
        <li>Microcamp - Lorena</li>
        <li>Sistema Operacional Windows e Linux, DOS, Hardware, Redes, Internet</li>
        <li>Concluído em 2006</li>
    </ul>
</div>
