<div>
    <p>
        Manutenção, montagem e limpeza de computadores, formatação e instalação
        do sistema operacional e backup, infraestrutura de redes, básico em
        servidores, atendimento helpdesk, configuração de rádios Cambium e Ubiquiti,
        Unifi e Mikrotiks, básico em programação com linguagens java e php,
        typescript.
    </p>
</div>
