<html>
    <head>
        <title>Curriculo</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="estilos.css" rel="stylesheet">
    </head>
    <body>
        <h1><a href="/"><img src="images/curriculo.jpg" alt="Foto - Curriculo Leandro Santos"></a></h1>
