<div>
    <p>Busco uma vaga no mercado onde possa colocar minhas habilidades em prática, tendo como objetivo crescer 
    profissionalmente e de maneira produtiva, contribuindo para o desenvolvimento da organização como um todo.</p>
</div>
