<div>
    <p>
        Sou formado em Ciências da Computação e tenho experiência com manutenção em computadores e redes,
        também tenho Pós em Desenvolvimento WEB e MOBILE porém nunca exerci a área, então tenho pouca experiência. 
        Profissional responsável e dinâmico, com facilidade para trabalhar em equipe. Atualmente estudando para melhorar o Inglês 
        e o trabalho com MIKROTIK com cursos MTCNA, MTCRE e MTCINE, entre outros.
    </p>
</div>
